.widget-soarcustomspan-clickable {
  cursor: pointer;
}

.widget-soarcustomspan {
  display: inline-block;
}

.widget-soarcustomspan.badge:empty {
  display: initial;
  /* Fix padding to stay round */
  padding: 3px 10px;
}

.widget-soarcustomspan.label:empty {
  display: initial;
  /* Fix padding to stay square */
  padding: 0.2em 0.8em 0.3em;
}

.widget-soarcustomspan.badge {
  min-width: 18px;
  min-height: 18px;
}
